html {
    height: 100%;
}
body {
    background: url(../assets/bg.jpg);
    background-size: 100% 100%;
    margin: 0;
}
#main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#toolbar {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}